.html{
    scroll-behavior: smooth;
}

.navbar-custom{
    position: absolute;
    background-color: transparent;
    width:100%;
    height:65px;
    z-index: 99;
    font-family: sans-serif;
    font-size: 0.9em;
}

@media (max-width: 767px) {
    .navbar-collapse{
        margin-top: 15px;
        background:#FFFFFF;
    }
}

@media (min-width: 768px) {

    .nav-link{
        cursor: pointer;
        color: #FFFFFF;
        background-color: transparent !important;
        padding-bottom: 2px !important;
        padding-left: 5px !important;
    }

    a.nav-link:hover{
        color: #FFFFFF;
    }

    a.nav-link:hover:after{
        width:100%;
    }

    a.nav-link:after{
        position: absolute;
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background-color: #f55849;
        margin: auto;
        bottom: -3px;
        left: 0;
        right: 0;
        transition: width .3s ease-in-out;
    }

    a.nav-link-signup{
        color: #f55849;
        background: transparent;
        border-radius: 6px;
        border: 1px solid #f55849;
        padding: 3px !important;
        top: 11px;
        padding-left: 11px !important;
        padding-right: 11px !important;

    }
}

a.nav-link-signup:hover{
    color: #FFFFFF !important;
    background: #f55849 !important;
}

.main-banner{
    width: 100%;
    height: 100vh;
    background: url('/images/home-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.main-content{
    padding-top: 25vh;
    text-align: center;
}
.main-content > h1{
    color: #FFFFFF;
    font-size: 4em;
    font-weight: bolder;
}
.main-content > p{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.3em;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.btn-get-started{
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    background: transparent;
    font-weight: bold;
    font-size: 1.7em;
    text-align: center;
    width: 237px;
    height: 64px;
    top: 82vh;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
button.btn-get-started:hover{
    background:rgba(0,0,0,0.3);
}

@-webkit-keyframes arrowMovement{
    50%{
        -webkit-transform: translateY(-15px);
    }
    100%{
    	 -webkit-transform: translateY(0px);
    }
}


@keyframes arrowMovement{
    50%{
        transform: translateY(-15px);
    }
    100%{
		transform: translateY(0px);
    }
}

.nextArrow{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom:0px;
    margin-left: auto;
    margin-right: auto;
    animation: arrowMovement 2.5s infinite linear;
	-webkit-animation: arrowMovement 2.5s infinite linear;
}
.nomad-places{
    text-align: center;
    padding-top:60px;
    padding-bottom:60px;
}

div.nomad-places h2{
    color: #52599b;
    font-weight: bold;
}

div.nomad-places p{
    font-size: 1.8rem;
    margin:20px auto;
    max-width: 480px;
}

div.grid-places{
    margin: 40px auto;
}

div.grid-places img{
    width:100%;
    max-width: 100%;
}

div.grid-places a{
    margin-bottom: 30px;
}

div.grid-places figcaption{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 1.5em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 30px;
}

.title {
    font-size: 2.4rem;
    font-family: sans-serif;
    font-weight: bold;
    display: block;
}

.location {
    font-size: 1.6rem;
    font-family: sans-serif;
    display: block;
}

.btn-explore-more{
    color: #e35143;
    border: 3px solid #e35143;
    border-radius: 10px;
    background: transparent;
    font-weight: bold;
    font-size: 1.7em;
    text-align: center;
    width: 237px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
}

button.btn-explore-more:hover{
    color: #FFFFFF;
    border-color: #e35143 !important;
    background-color: #e35143 !important;
}

.explore{

    padding-top:60px;
    padding-bottom:60px;
    background-color: #52599b;
    color: #FFFFFF;
}

.explore h2{
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

div.explore h2{
    margin-bottom: 30px;
}

div.explore h3{
    text-align: left;
    font-weight: bold;
    margin-bottom: 30px;
}

div.explore p{
    font-size: 2rem;
}

div.explore p{
    font-size: 2rem;
}

div.explore img{
    margin-top:30px;
    width: 100%;
}

.explore-link{
    color: #FFFFFF;
    margin-left: 0px;
    margin-right: auto;
    font-weight: bold;
    font-size: 2.0rem;
}

.page-footer{
    background-color: #292b37;
    padding: 30px 0;
}

.social-links{
    padding: 30px 0;
    text-align: center;
}

.page-footer .social-links a {
    display: inline-block;
    width: 37px;
    height: 37px;
    background-image: url("/images/social.png");
    background-size: 100%;
    background-color: #a9aaaf;
    overflow: hidden;
    text-indent: -99999px;
    margin: 0 5px;
}

.page-footer .social-links a.fb {
    background-position: 0 -37px;
}

.page-footer .social-links a.tw {
    background-position: 0 -74px;
}

.page-footer .social-links a.ig {
    background-position: 0 -111px;
}

.page-footer .social-links a.in {
    background-position: 0 -148px;
}

.page-footer .social-links a.pi {
    background-position: 0 -185px;
}
